<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Metro System</title>
</head>

<body>

    <!-- Navigation -->
    <nav>
        {% if user.is_authenticated %}
            <p>
                Hello {{ user.username }} |
                <a href="{% url 'metro:buy_ticket' %}">Buy Ticket</a> |
                <a href="{% url 'metro:my_tickets' %}">My Tickets</a> |
                <a href="{% url 'metro:metro_map' %}">Metro Map</a> |
                <a href="{% url 'metro:add_money' %}">Add Money</a> |
                <a href="{% url 'metro:edit_profile' %}">Profile</a> |
                <form method="post" action="{% url 'account_logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

                
            </p>
        {% else %}
            <p>
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'account_signup' %}">Signup</a>



            </p>
        {% endif %}
    </nav>

    <hr>

    <!-- Django Messages -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

</body>
</html>
